<!DOCTYPE html>

<html>
	<head>
	    	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    		<script src="http://code.jquery.com/jquery-latest.js"></script>
    		<script src="/static/js/bootstrap.min.js"></script>
    		<script src="/static/js/pysos_app.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PySOS Web Client</title>
	</head>
	
	<body>
		<nav class="navbar navbar-inverse span8" role="navigation">
			<a class="navbar-brand" href="/">PySOS RPM Assistant</a>
			<p class="navbar-text"><a href="/new">New Warning</a></p>	
		</nav>
		
		<div class="container span8">
			
		{% block content %}
		{% endblock %} 
		</div>
	</body>
</html>
