{% extends 'base.html' %}

{% block content %}


<div class="row">
				<div class="page-header">
					<h1>RPM Overview <small>A list of all current RPM information for PySOS</small></h1>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
					<p>There are currently X RPMs being tracked over X warnings</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="RPM Name">
					</div>
					</div>
					
					<div class="panel-body">
						<p>Something, something, dark side...</p>
					</div>

					<table class="table table-striped">
						<thead>
							<tr>
								<b><td class="col-md-2">Name</td>
								<td class="col-md-1">Version</td>
								<td class="col-md-4">Warning</td>
								<td class="col-md-1">KCS Article</td>
								<td class="col-md-1">BZ Number</td>
								<td class="col-md-2">Reported By</td>
								<td class="col-md-1">Reported</td></b>
							</tr>
						</thead>
						<tbody>
						
						{% if list is defined %}
							{% for item in list %}
							<tr>
							<td>{{ item.name }}</td>
							<td>{{ item.version }}</td>
							<td>{{ item.warning }}</td>
							<td><a href="https://access.redhat.com/site/solutions/{{ item.kcs}}">{{ item.kcs }}</a></td>
							<td><a href="https://bugzilla.redhat.com/show_bug.cgi?id={{ item.bz }}">{{ item.bz }}</a></td>
							<td></td>
							<td></td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
							<td>RPM #1</td>
							<td>RPM's Version</td>
							<td>Related Warning</td>
							<td>Article <a href=#">234564</a></td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>

{% endblock %}
