{% extends 'base.html' %}

{% block content %}


<div class="row">
				<div class="page-header">
					<h1>RPM Overview <small>A list of all current RPM information for PySOS</small></h1>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<p class="col-md-10">There are currently {{ list|length }} RPMs being tracked</p>
						<div class="input-group col-md-2">
							<input type="text" class="form-control" placeholder="RPM Name">
						</div>
					</div>
					
					<table class="table table-striped">
						<thead>
							<tr>
								<td class="col-md-1"></td>
								<b><td class="col-md-2">Name</td>
								<td class="col-md-1">Version</td>
								<td class="col-md-3">Warning</td>
								<td class="col-md-1">KCS Article</td>
								<td class="col-md-1">BZ Number</td>
								<td class="col-md-2">Reported By</td>
								<td class="col-md-1">Reported</td></b>
							</tr>
						</thead>
						<tbody>
						
						{% if list is defined %}
						{% for item in list|sort(attribute='report_time',reverse=True) %}
							<tr>
							<td class="row-config"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
							<td>{{ item.name }}</td>
							<td>{{ item.version }}</td>
							<td>{{ item.warning }}</td>
							<td><a href="https://access.redhat.com/site/solutions/{{ item.kcs}}">{{ item.kcs }}</a></td>
							<td><a href="https://bugzilla.redhat.com/show_bug.cgi?id={{ item.bz }}">{{ item.bz }}</a></td>
							<td>{{ item.reporter }}</td>
							<td>{{ item.report_time }}</td>
							</tr>
							<tr class="warning editRow">
								<td class="col-md-1">
									<span class="col-md-6 glyphicon glyphicon-ok"></span>
									<span class="col-md-6 glyphicon glyphicon-remove"></span>
								</td>
								<td class="col-md-2">
									<input type="text" class="form-control editBox">
								</td>
								<td class="col-md-1">
									<input type="text" class="form-control editBox">
								</td>
								<td class="col-md-3">
									<input type="text" class="form-control editBox">
								</td>
								<td class="col-md-5"></td>

							</tr>
						{% endfor %}
						{% else %}
							<tr>
							<td>RPM #1</td>
							<td>RPM's Version</td>
							<td>Related Warning</td>
							<td>Article <a href=#">234564</a></td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>

{% endblock %}
